@using Uppgift2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dog[]
<html>
<head>
    <title>Dogs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body style="margin-left: 5rem; margin-top: 5rem; background-color: #e08e45;">
    <div style="display: flex; flex-direction: column; justify-content: start; align-items : start; background-color: #e3e6db; border-radius: 10px; overflow: hidden;">

        <h1 style="margin:0; padding-block: 2rem;">Dogs </h1>
        <div style="width: -webkit-fill-available; border-top: 1px solid black; display: flex; flex-direction: row; justify-content: start; align-items: center; background-color: #F6F7F3; padding: 1.5rem;">
            <a style="display: block;" href="dogs/create">
                <button style="margin: 0; background-color: #f8f4a6; display: flex; align-items:center; justify-content: space-between; width: 14rem; padding-inline: 2rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>Add a dog
                </button>
            </a>
        </div>
    </div>

    <div style="margin-inline: 5rem;">
        @foreach(var item in Model)
        {
            <div style="margin:  1rem 0 0;border: 1px solid gray; padding: 1rem; background-color: #FDFDEC; border-radius: 10px;">
                <p style="display: inline-block;">
                    <span style="font-size:large;"> @item.Name</span>
                    <br />
                    Age: @item.Age
                </p>
                <ul style="list-style:none;">
                    <li>
                        <a href="/dogs/edit/@item.Id"><button style="background-color: #F5F5F5;">Update</button></a>
                        <form method="post" action="/dogs/delete/@item.Id" style="display: inline-block"><button style="color: #C42847; border-color:#C42847; background-color: #F8DDE3;">Delete</button></form>

                    </li>

                </ul>
            </div>

        }
    </div>

</body>
</html>